.content {
  padding: 150px 0px;

  >.inner {
    width: 1180px; margin: 0px auto;

    h1 {
      font: normal 30px/1 "arial"; color: #555; margin-bottom: 30px;
    }
  }
}

@media screen and (max-width: 1179px){
  .content {
    >.inner {
      width: 100%; padding: 0px 40px;
    }
  }
}