.gallery {
  .inner {
    .list {
      opacity: 0;
      transform: translateY(200px);
      transition: 1s;
      position: relative;
    
      &.on {
        opacity: 1;
        transform: translateY(0px);
      }

      ul {
        width: 100%;
        
        .item {
          width: 25%;      
          padding: 10px;
          float: left;

          img {width: 100%}
        }
      }
    }
  }
}
